body{
    background-color: lightgray;
}

/* MODIFICA NAVBAR */
:root{
    --colore-primario:var(rgb(35, 46, 62));
}
.nav-custom{
    background-color: rgb(35, 46, 62);
    transition:0.5s;
    height: 80px;
    border-radius: 40px;
    margin: 5px;
    box-shadow: 5px 5px 5px #bcbcbc;
    
}
.navbar-scrolled{
        background-color: rgb(35, 46, 62);
        margin: 5vh 15vh;
        box-shadow: 5px 5px 5px rgb(35, 46, 62);
    }
.search-scrolled{
    transition:0.5s;
    display: none;
}
.search-design{
    border: 1px solid rgb(35, 46, 62);
    box-shadow: 5px 5px 5px rgb(35, 46, 62);
}
/* MODIFICA TITLE */
/* {
} */
/* MODIFICA CARD */
.card{
    object-fit: cover;
   
}
/* MODIFICA CATEGORIE */
.categorie-bordo{
    background-color: rgb(35, 46, 62);
    padding: 5px;
    box-shadow: 5px rgb(35, 46, 62);
}
.btn-bordo{
    border-radius: 30px;
}
/* FINE MODIFICA CATEGORIE */
.bg-card{
    background-color:  rgb(35, 46, 62);
}
@media screen and (max-width:600px) {
    .navbar-scrolled{
        margin: 0;
    }
}
/* icone Navbar  */
.icone-navbar{
    height: 200px;
}
.bottone-logout{
    background-color:  rgb(35, 46, 62);
    color: white;
}
.carosello-home{
    background-color: rgb(35, 46, 62);
    padding: 5px;
    box-shadow: 5px rgb(35, 46, 62);
}
