/* MODIFICA FOONTS */
h1{
  font-family: 'Oswald', sans-serif;
  font-size: 100px;
  font-weight: bold;
  color:rgb(35, 46, 62);
}





body{
    background-color: lightgray;
}
footer{
    background-color: lightgray;
}

/* MODIFICA NAVBAR */
:root{
    --colore-primario:var(rgb(35, 46, 62));
}
.nav-custom{
    background-color: rgb(35, 46, 62);
    transition:0.5s;
    height: 80px;
    border-radius: 40px;
    margin: 5px;
    box-shadow: 5px 5px 5px #bcbcbc;
    
}
.navbar-scrolled{
        background-color: rgb(35, 46, 62);
        margin: 5vh 15vh;
        box-shadow: 5px 5px 5px rgb(35, 46, 62);
    }
.search-scrolled{
    transition:0.5s;
    display: none;
}
.search-design{
    border: 1px solid rgb(35, 46, 62);
    box-shadow: 5px 5px 5px rgb(35, 46, 62);
}
/* MODIFICA TITLE */
/* {
} */
/* MODIFICA CARD */
.card{
    object-fit: cover;
   
}
/* MODIFICA CATEGORIE */
.categorie-bordo{
    background-color: rgb(35, 46, 62);
    padding: 5px;
    box-shadow: 5px rgb(35, 46, 62);
}
.btn-bordo{
    border-radius: 30px;
}
/* FINE MODIFICA CATEGORIE */
.bg-card{
    background-color:  rgb(35, 46, 62);
}
@media screen and (max-width:600px) {
    .navbar-scrolled{
        margin: 0;
    }
}
/* icone Navbar  */
.icone-navbar{
    height: 200px;
}
.bottone-logout{
    background-color:  rgb(35, 46, 62);
    color: white;
}
.carosello-home{
    background-color: rgb(35, 46, 62);
    height: 900px;
    width: 100%;
    
}
.bottone-offerta{
    background-color: red;
    color: white;
    height: 23px;
    width: 60px;
    text-align: center;
    border-radius: 10px;
}
.colore-box{
    background-color: rgb(35, 46, 62) ;
    color: white;
}
/* Swiper  */
.swiper {
    width: 600px;
    height: 300px;
  }

  body {
    position: relative;
    height: 100%;
  }

  body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
  }

  /* SWIPER */
  swiper-container {
    width: 100%;
    height: 100%;
  }

  swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

 

  
  
  .mySwiper {
    height: 80%;
    width: 100%;
  }

  .mySwiper2 {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper2 swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper2 .swiper-slide-thumb-active {
    opacity: 1;
  }

  